.common {
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  padding: var(--spacing-sm);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.default {
  color: #191919;
  border-color: 2px solid #c9c9c9;
}

.default:not(.hollow) {
  background: #e9e9e9;
}

.primary {
  color: #f9f9f9;
  border-color: darkgreen;
}

.primary:not(.hollow) {
  background: darkgreen;
}

.hollow {
  border-color: inherit;
  color: inherit;
  background: none;
}

.disabled {
  background: #f9f9f9;
  color: #a9a9a9;
  border-color: #d9d9d9;
}
